<h1>Listing All receipts</h1>

<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>
<table>
  <tr>
    <th>id</th>
    <th>Email</th>
    <th>Rate</th>
    <th>Paid</th>
    <th>Purchased time</th>
    <th>Expiration time</th>
  
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @receipts.each do |receipt| %>
  <tr>
    <td><%= receipt.id %></td>
    <td><%= receipt.email %></td>
    <td><%= receipt.rate %></td>
    <td><%= receipt.total_paid %></td>
    <td><%= receipt.purchased_time %></td>
    <td><%= receipt.expiration_time %></td>
    <td><%= link_to 'Show', admin_receipt_path(receipt) %></td>
    <td><%= link_to 'Edit', edit_admin_receipt_path(receipt) %></td>
    <td><%= link_to 'Destroy', admin_receipt_path(receipt), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

