
<p id="notice"><%= notice %></p>


<p>
  <b>id:</b>
  <%= @receipt.id %>
</p>

<p>
  <b>Rate:</b>
  <%= @receipt.rate %>
</p>
<p>
  <b>Paid:</b>
  <%= @receipt.total_paid %>
</p>

<p>
  <b>Purchased:</b>
  <%= @receipt.purchased_time %>
</p>

<p>
  <b>Expired:</b>
  <%= @receipt.expiration_time %>
</p>
<p>
  <b>image:</b>
  <%= @receipt.image %>
</p>

</form>
<p>
<p>
