

<h1>Admin App</h1>
<h4>
<%= link_to 'Administer Receipts', admin_receipts_path %>
<p>
<%= link_to 'Administer Tickets', admin_tickets_path %>
<p>
<%= link_to 'Administer Matched Tickets', admin_tickets_matched_path %>
<p>
<%= link_to 'Administer PayPal Payment Notifications', admin_payment_notifications_path %>
<p>
<%= link_to 'Administer Transactions', admin_transactions_path %>
<p>
<%= link_to 'Test Welcome email', admin_send_welcome_email_path %>
<p>
<%= link_to 'Test Matched Meter Receipt email', admin_send_matched_receipt_email_path %>
</h4>
<p>
