<h1>Search for Parking Meter Receipts</h1>


<%= form_tag("/home/search", :method => "get") do %>
  <%= label_tag(:rate, "Rate:") %>
  <%= select_tag(:rate, options_for_select([['$1.75',1.75],['$3.50',3.5],['$5.75',5.75]])) %>
<p>
  <%= label_tag(:ticket_time, "Ticket Time:") %>
  <%= select_datetime Date.today, :prefix=> :ticket_time %>
<p>

  <%= submit_tag("Search") %>
<% end %>

<p>----- Find me in app/views/home/index.html.erb ---- </p>

<br><%= link_to 'Enter Receipt', new_receipt_path %>
<br><%= link_to 'Enter Mutiple Receipts', receipts_enter_path %>
<br><%= link_to 'Show All Receipts', receipts_path %>
