<h1>Found these matching receipts</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Rate</th>
    <th>Purchased time</th>
    <th>Expiration time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @receipts.each do |receipt| %>
  <tr>
    <td><%= receipt.email %></td>
    <td><%= receipt.rate %></td>
    <td><%= receipt.purchased_time %></td>
    <td><%= receipt.expiration_time %></td>
    <td><%= link_to 'Show', receipt %></td>
  </tr>
<% end %>
</table>


<br />
<td><%= link_to 'Enter Ticket'  , new_ticket_path %></td>
