<style type="text/css">
.LARGER_METERRECEIPT_FONT {font-size:24pt;}
.GREEN {color: rgb(0,220,98);}
.SMALLGREEN {font-size:6pt;color: rgb(0,220,98);}

</style>

<% @receipts.each do |receipt| %>

<table>
  <tr>
    <%= form_for(@transaction) do |f| %>
    <%= f.hidden_field :receipt_id %>
  </tr>
  <tr><td align="top">Pay $1 at PayPal to contact the owner. <td><%= f.submit "Pay $1 at PayPal", :type => :image, :src => "https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" %>
</th></tr>
<% end %>
  <tr>
<td colspan="2">
<table border="0" style="border-width: 1px; border-color:#000000;
border-style: solid;">
<tr>
<td colspan="5" class="GREEN">Valid at any pay box with same or lesser hourly RATE, until expired</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<td colspan="3">Motorcycle Plate No:_ _ _ _ _ _ _</td>
</tr>
<tr>
<th align="right">

<td rowspan="2" colspan="1" class="LARGER_METERRECEIPT_FONT">
<%= receipt.rate %>
</td>
<td align="left">Paid:$ <%= receipt.total_paid %>
<%= "%02d" % receipt.purchased_time.hour %>:<%= "%02d" % receipt.purchased_time.min %>
</tr>

</tr>
<tr>
<td>
<td>ID: 123456 <%= "%02d" % receipt.purchased_time.month %>/<%= "%02d" % receipt.purchased_time.day %>/12
</tr>
<tr>
<td>
<td border="1" style="border-width: 1px; border-color:#000000;border-style: dashed;" colspan="5"><table>

</tr>
<tr>
<td rowspan="2" class="LARGER_METERRECEIPT_FONT"><%= receipt.expiration_time.hour %>:<%= "%02d" % receipt.expiration_time.min %>
</td>
<td>
  <%= month_abbrev(receipt.expiration_time.mon) %><td rowspan="2" class="LARGER_METERRECEIPT_FONT"><%= "%02d" % receipt.expiration_time.day %>
<td>12
</tr>
<tr>
<td><%= receipt.expiration_time.hour < 12? "AM" : "PM" %>
<tr>
<td>Expiration Time
<td><td>Valid Date
</tr>
</table>
<tr><td><td>79780<td align="right">$<%= receipt.rate %>/hr
<tr><td class="GREEN" rowspan="2">LAZ<td colspan="3" class="SMALLGREEN">OPERATED BY LAZ PARKING&nbsp;&nbsp;&nbsp;chicagometers.com&nbsp;&nbsp;&nbsp;877.242.7901<br>PLACE THIS SIDE UP ON DASHBOARD CURBSIDE&nbsp;&nbsp;&nbsp;SEE DIRECTIONS ON REVERSE
</tr>
</table>
 

  </tr>
  <tr>
    <th>Photo</th>
  </tr>
  <tr>
    <td align="right" colspan-"2"><%= image_tag receipt.image.url %></td>
  </tr>
</table>
<% end %>

<%= paginate @receipts %>


<h3>---- The Fine Print ----</h3>
After you submit payment, you will be able to view the<br>
email and/or the phone number of fellow Chicagoan that<br>
owns this receipt.  <p>

It's very likely that person may request an <br>
an additional amount for the receipt.<br>
(The suggested amount is $5 bucks )<br>
<p>

<!--
for email - future reference 
    <td><a style="font: bold 11px Arial;text-decoration: none;background-color: #EEEEEE;color: #333333;padding: 2px 6px 2px 6px;border-top: 1px solid #CCCCCC;border-right: 1px solid #333333;border-bottom: 1px solid #333333;border-left: 1px solid #CCCCCC;" href="<= receipt.mailto_link >">I want this one</a></td>
-->



