Purchase the contact info for this meter receipt<br>
Cost $1 ( PayPal )

<% @receipts.each do |receipt| %>

<table>
  <tr>
    <%= form_for(@transaction) do |f| %>
    <th><%= f.label :receipt_id %></th>
    <td><%= f.number_field :receipt_id %></td>
  </tr>
  <tr>
    <th><%= f.label :buyer_email %></th>
    <td><%= f.text_field :buyer_email %></td>
  </tr>
  <tr><th><%= f.submit "Pay $1 at PayPal" %></th></tr>
<% end %>
  <tr>
    <th>Rate</th>
    <td>$<%= receipt.rate %></td>
  </tr>
  <tr>
    <th>Purchased time</th>
    <td><%= receipt.purchased_time.to_s(:long) %></td>
  </tr>
  <tr>
    <th>Expiration time</th>
    <td><%= receipt.expiration_time.to_s(:long) %></td>
  </tr>
  <tr>
    <th>Photo</th>
  </tr>
  <tr>
    <td align="right" colspan-"2"><%= image_tag receipt.image.url %></td>
  </tr>
</table>
<% end %>

<%= paginate @receipts %>

<!--
for email - future reference 
    <td><a style="font: bold 11px Arial;text-decoration: none;background-color: #EEEEEE;color: #333333;padding: 2px 6px 2px 6px;border-top: 1px solid #CCCCCC;border-right: 1px solid #333333;border-bottom: 1px solid #333333;border-left: 1px solid #CCCCCC;" href="<= receipt.mailto_link >">I want this one</a></td>
-->



