
<tr class="white">
<td class="white">
<%= link_to image_tag("images/money1.jpg"), new_receipt_path %>
<td>O <%= link_to "Post your meter receipts.", new_receipt_path %>
<br>O <%= link_to "Make $$$ from your receipts.", new_receipt_path %>
<br>O <%= link_to "Fight back", new_receipt_path %>
<br>O <%= link_to "To Aggressive ticketing.", new_receipt_path %>

<tr class="white"><td>
<p>
<%= link_to image_tag("images/boot1.jpg"), home_index_path %>
<td>
O <%= link_to "Avoid the boot.", home_index_path %><br>
O <%= link_to "Find a meter receipt.", home_index_path %><br>
O <%= link_to "Get out of your ticket", home_index_path %><br>

<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>


