

<%= link_to "Make money by posting your meter receipts.", new_receipt_path %><br>
<%= link_to image_tag("images/money1.jpg"), new_receipt_path %>

<p>
<%= link_to "Avoid the boot.  Find a meter receipt to get out of your ticket", home_index_path %><br>
<%= link_to image_tag("images/boot1.jpg"), home_index_path %>

<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>


