<%= form_for(@ticket) do |f| %>
<table>
  <thead>
    <tr>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </tr>
  </thead>
  <tbody>
    <tr>
      <th align="right"><%= f.label :email %></th>
      <td><%= f.text_field :email %></td>
    <tr>
      <th align="right"><%= f.label :cell_number %> (optional)</th>
      <td><%= f.text_field :cell_number %></td>
    </tr>
    <tr>
      <th align="right"><%= f.label :amount, "Amount of Ticket" %></th>
      <td>$<%= f.number_field :amount, :step=>5, :min=>50, :max=>150.00 %></td>
    </tr>
    <%= f.hidden_field :rate %>
    <%= f.hidden_field :ticket_time %>
      <!--
      <td>< f.datetime_select :ticket_time, :discard_year => true ></td>
-->
    <tr>
      <th colspan="2" align="center">
  <div class="actions">
    <%= f.submit "Contact me when you get a Meter Receipt" %>
  </div>
  </tbody>
  </table>
<% end %>
