<h1>Listing tickets</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Cell Number</th>
    <th>Ticket Time</th>
    <th>Rate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.email %></td>
    <td><%= ticket.cell_number %></td>
    <td><%= ticket.ticket_time %></td>
    <td><%= ticket.rate %></td>
    <td><%= link_to 'Show', ticket %></td>
  </tr>
<% end %>
</table>

