<p id="notice"><%= notice %></p>

<p>
  <b>Receipt:</b>
  <%= @transaction.receipt_id %>
</p>

<p>
  <b>Buyer email:</b>
  <%= @transaction.buyer_email %>
</p>

<p>
  <b>Params:</b>
  <%= @transaction.params %>
</p>

<p>
  <b>Status:</b>
  <%= @transaction.status %>
</p>


<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
