<%= form_for(@receipt) do |f| %>
  <% if @receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% @receipt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>(required)<br />
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :rate %><br />
    <%= f.select(:rate, options_for_select([['$1.75',1.75],['$3.50',3.5],['$5.75',5.75]])) %>
  </div>
  <div class="field">
    <%= f.label :total_paid %><br />
    <%= f.text_field :total_paid %>
  </div>
  <div class="field">
    <%= f.label :purchased_time %><br />
    <%= f.datetime_select :purchased_time %>
  </div>
  <div class="field">
    <%= f.label :expiration_time %><br />
    <%= f.datetime_select :expiration_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
