<p id="notice"><%= notice %></p>

<p>
  <b>Rate:</b>
  <%= @receipt.rate %>
</p>

<p>
  <b>Purchased time:</b>
  <%= @receipt.purchased_time %>
</p>

<p>
  <b>Expiration time:</b>
  <%= @receipt.expiration_time %>
</p>

<a style="font: bold 11px Arial;text-decoration: none;background-color: #EEEEEE;color: #333333;padding: 2px 6px 2px 6px;border-top: 1px solid #CCCCCC;border-right: 1px solid #333333;border-bottom: 1px solid #333333;border-left: 1px solid #CCCCCC;" href="<%= @receipt.mailto_link %>">Yep, this receipt will do it</a>

</form>
<p>
<p>
