<!DOCTYPE html>
<html>
<head>
  <title>Expired Meter Exchange ( I Fought the law, and I WON ) </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults, "rails.validations" %>
  <%= csrf_meta_tags %>

  <!-- Update your html tag to include the itemscope and itemtype attributes -->
  <html itemscope itemtype="http://schema.org/LocalBusiness">
    
    <!-- Add the following three tags inside head -->
    <meta itemprop="name" content="expiredmeterexchange">
    <meta itemprop="description" content="This would be a description of the content your users are sharing">
</head>
<body bgcolor="silver">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">
(function() {
var s = document.createElement('SCRIPT'), s1 = document.getElementsByTagName('SCRIPT')[0];
s.type = 'text/javascript';
s.async = true;
s.src = 'http://widgets.digg.com/buttons.js';
s1.parentNode.insertBefore(s, s1);
})();
</script>
<style type="text/css">

.box_rotate {
     -moz-transform: rotate(90.0deg);  /* FF3.5+ */
       -o-transform: rotate(90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(90.0deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.90);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.90)"; /* IE8 */
}
</style>

<%= render 'header' %>
<p>
<p>

<tr><td class="white">
<%= yield %>
<%= render 'navigation' %>
<p>
</body>
</html>



