<!DOCTYPE html>
<html>
<head>
  <title>Expired Meter Exchange ( build 05/10/2012 01:23 AM )</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults, "rails.validations" %>
  <%= csrf_meta_tags %>
</head>
<body bgcolor="silver">

<p>
<p>

<%= yield %>

<%= render 'navigation' %>
</body>
</html>
